# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')
bests = joined[ joined.rating == 5 ]
bests['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')
baltics = data.query('country == "Latvia" or country == "Lithuania" or country == "Estonia"')
categories = baltics.query('category == 4 or category == 12 or category == 21')
period = categories.query('year >= 2005 and year <= 2010')
positive = period[ period.quantity > 0 ]
positive['quantity'].sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [5]:
page_url = 'https://www.bbc.com/russian/news-51706538'
df = pd.read_html(page_url, attrs = {'class': 'core-table gel-brevier'}, encoding='utf-8')
df[:6]

[               Unnamed: 0   Умерли  Смертность*  Заразились  \
 0                     США  253 307        774.0  11 860 676
 1                Бразилия  168 613        805.0   6 020 164
 2                   Индия  132 726         98.0   9 050 597
 3                 Мексика  100 823        799.0   1 025 969
 4          Великобритания   54 286        809.0   1 473 508
 ..                    ...      ...          ...         ...
 210    Соломоновы Острова        0          0.0          16
 211  Фолклендские острова        0          0.0          16
 212    Маршалловы острова        0          0.0           4
 213               Ангилья        0          0.0           3
 214               Вануату        0          0.0           1

      Новые случаи  0  10  100  1000  5000  **  Unnamed: 5
 0                                         NaN         NaN
 1                                         NaN         NaN
 2                                         NaN         NaN
 3                                         NaN         NaN
 4                                         NaN         NaN
 ..                                        ...         ...
 210                                       NaN         NaN
 211                                       NaN         NaN
 212                                       NaN         NaN
 213                                       NaN         NaN
 214                                       NaN         NaN

 [215 rows x 6 columns]]